nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #65bde0;
}
nav .navbar-brand .red
{
    color: #e0657a;
}
nav .navbar-brand .yellow
{
    color: #e0c365;
}
nav .navbar-brand .green
{
    color: #8fd65c;
}
nav .navbar-brand .orange
{
    color: #f0b762;
}
nav .navbar-brand .purple
{
    color: #da88fc;
}
nav .navbar-brand .teal
{
    color: #88fcc4;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
